/*SELECT * FROM DISCIPLINA_TURMA AS DISC_TRM
INNER JOIN (SELECT * FROM SEMESTRE 
	WHERE NOME_SEMESTRE = '2016/1')AS SEM
	ON DISC_TRM.SEQ_SEMESTRE = SEM.SEQ_SEMESTRE
INNER JOIN 
*/

SELECT COUNT(*) AS DISC_GASTO, DISC.CREDITO_DISCIPLINA
FROM DISCIPLINA_TURMA AS DISC_TRM
INNER JOIN GRADE_TURMA AS GRD_TRM
ON DISC_TRM.SEQ_DISCIPLINA_TURMA = GRD_TRM.SEQ_DISCIPLINA_TURMA
INNER JOIN DISCIPLINA AS DISC
ON DISC_TRM.CODIGO_DISCIPLINA = DISC.CODIGO_DISCIPLINA
INNER JOIN SEMESTRE AS SEM
ON DISC_TRM.SEQ_SEMESTRE = SEM.SEQ_SEMESTRE

WHERE 
	DISC_TRM.CODIGO_DISCIPLINA = 'ARA1658' AND 
	DISC_TRM.CODIGO_TURMA = '01652' AND
	SEM.NOME_SEMESTRE = '2016/1'
GROUP BY DISC.CREDITO_DISCIPLINA 


SELECT DISTINCT DISC.CODIGO_DISCIPLINA, DISC.CREDITO_DISCIPLINA  FROM DISCIPLINA AS DISC
	INNER JOIN DISCIPLINA_TURMA AS DISC_TRM
	ON DISC.CODIGO_DISCIPLINA = DISC_TRM.CODIGO_DISCIPLINA
	WHERE DISC_TRM.CODIGO_DISCIPLINA = 'ARA1658'